version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "build-docker"
  - package-ecosystem: "npm"
    directory: "/files/node"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
